*{
    margin: 0;
    padding: 0;  
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    /*font-family: 'Roboto', sans-serif; */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
a{
    text-decoration: none;
}

header{
    background-color:#343A41;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
}
.carousel{
    width: 100%;

}
.carousel img{
    filter:contrast(80%) brightness(60%);
}
.carousel_descripcion{
    text-shadow:1px 1px 2px black;
    text-align: right;
    width: 35%;

}
#oradores{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#oradores > .inicio_oradores{
    margin-top: 5px;
    line-height: 1.3rem;
    font-size: .55rem;
    color: rgb(90,90,90);
}
#oradores > .titulo_oradores{
    font-size: 1.3rem;
    font-weight: 600;
}
.oradores{
    display: flex;
    flex-direction: row;
    justify-content:center;
}
.orador{
    width: 20%;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: .5rem;
}
.orador img{
    width: 100%;
}
.descripcion{
    margin: 1rem;
}
.botones{
    margin-bottom: .7rem;
}
.btnAmarillo{
    background-color: rgb(254,193,7);
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    padding: .3rem .5rem;
    font-size: .5rem;

}
.btnAmarillo > a{
    color: black;
}
.btnCeleste{
    background-color: rgb(23,162,183);
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    padding: .3rem .5rem;
    font-size: .5rem;
    
}
.btnCeleste > a{
    color: white;
}
.btnGris{
    background-color: rgb(90, 90, 90);
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    padding: .3rem .5rem;
    font-size: .5rem;
    
}
.btnGris > a{
    color: white;
}
.btnRojo{
    background-color: red;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    padding: .3rem .5rem;
    font-size: .5rem;
    
}
.btnRojo> a{
    color: white;
}
.orador .titulo{
    font-size: 1.3rem;
    margin-bottom: 1rem;
    color: rgb(90,90,90);
}
.orador .texto{
    text-align:justify;
    line-height: 1.3rem;
    font-size: .8rem;
    color: rgb(90,90,90);
}

.ubication img{
    margin: 0;
    padding: 0;
    background: #000;;
    width: 100%;
    height: auto;
    border: 1px solid rgb(184, 184, 184);
}
.texto_ubicacion{
    border: 1px solid rgb(184, 184, 184);
}
.texto_ubicacion > .titulo{
    font-size: 1.3rem;
    margin-bottom: 1rem;
    color: rgb(90,90,90);
}
.texto_ubicacion > .texto{
    text-align:justify;
    line-height: 1.3rem;
    font-size: .8rem;
    color: rgb(90,90,90);
}
.btn_total{
    background-color:#343A41;
}
.footer{
    background-color: rgb(28,63,82);
    height:100px;
    position: sticky;
    width: 100%;
    text-align: center;
}
.footer a{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: white;
}
footer {
    margin-top: 150px;
  }